*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
}


body{
    background: #edeef0;
}

/*start of menu style part*/
.menu-container{
    display: flex;
    justify-content: center;
    color: #fff;
    background-color: #507299;  /* Blue */
    position: sticky;
    top: 0;
    width: 100%;
    height: 50px;
}



.menu{
    display: flex;
    justify-content: space-between;
    width: 1000px;
    padding-top: 5px;
    padding-left: 25px;
}
/*end of menu style part*/


/*start of container part style*/
.container{
    display: flex;
    flex-direction: row;
    margin: 25px auto;
    padding-bottom: 50px;
    width: 1000px;
    min-height: 100%;
}

.sideBar{
    width: 170px;
    order: 1;
    height: 100%;
    overflow: hidden;
}

a{
    display: block;
    text-align: left;
    margin: 10px;
    padding: 10px;
}

.txtlink {
    color: #588EF2;
    text-decoration: none;
    margin-left: 20px;
    font-size: 16px;
}
.content{
    display: flex;
    flex-direction: column;
    min-width: 12em;
    flex: 1;
    order: 2;
    align-items: center;
}


.first-header{
    display: flex;
    align-items: center;
    width: 500px;
    background-color: #ffffff;
    margin: 5px 0 25px 0;
    flex-direction: column;
    border-radius: 10px;
    padding-left: 10px;
}

.textBox{
    margin: 5px;
    padding: 10px;
}
.second-header{
    display: flex;
    align-items: center;
    width: 500px;
    background-color: #ffffff;
    margin: 5px 0 25px 0;
    flex-direction: column;
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px 20px 0;
}

.img-container{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    margin: 5px;;
    width: 450px;
}

.another-header{
    display: flex;
    align-items: center;
    width: 500px;
    background-color: #ffffff;
    margin: 5px 0 25px 0;
    padding-left: 10px;
    flex-direction: column;
    border: 1px solid #ffffff;
    border-radius: 10px;
}
.head{
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
    width: 100%;
}
.another-content{
    margin: 5px;
}

.hr{
    margin: 5px;
    color: black;
    width: 100%;
}

.like-comment-container{
    display: flex;
    justify-content:space-between;
    width: 100%;
    padding-left: 10px;
    margin-right: 10px;
}


.right-content{
    position: sticky;
    top:4em;
    width: 290px;
    height: 100%;
    order: 3;
    z-index: -1;
}


.first-column,.second-column{
    display: flex;
    flex-direction: column;
    height: 200px;
    border-radius: 15px;
    background-color: #ffffff;
    margin: 15px;
}
button{
    background-color: #ffffff;
    border: none;
    color: #588EF2;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
}

button:hover{
    text-decoration: underline;
    cursor: pointer;
}
.box{
    margin: 15px 15px 0 15px;
    padding: 10px ;
}

/*end of container style part*/


/*start of footer style part*/
.footer{
    color: #fff;
    background-color: #6a86a7;  /* Blue */
    padding: 20px 0;
    margin-top: -50px;
    height: 50px;
    width: 100%;

    text-align: center;
    overflow: hidden;
}

/*end of footer style part*/


@media only screen and (max-width: 1000px) {
    .right-content{
       display: none;
    }
    .container{
        width: calc(1000px - 290px);
    }
}



@media only screen and (max-width: 725px)  {
    .container{
        display: flex;
        justify-content: flex-start;
        margin-right: 0;
    }
    .footer,.menu-container{
        min-width: 725px;
    }
}
